<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla principal</title>
    <link rel="stylesheet" href="./Style.css">
    
</head>
<body>
    <header>
        <h1>Panel de Conciliador</h1>
        <button class="cerrar">Cerrar Secci贸n</button>
    </header>

    <nav>
        <a href="/" class="active">Inicio</a>
        <a href="/solicitud" class="active">M贸dulo de Solicitud</a>
        <a href="#" class="active">Listado expedientes</a> 
    </nav>
    </header>
    
    <div class="container">
        <h2>Calendario</h2>
        <div class="summary">
            <div>
                <h3>Lunes</h3>
                <p>1</p>
            </div>
            <div>
                <h3>Martes</h3>
                <p>2</p>
            </div>
            <div>
                <h3>Miercoles</h3>
                <p>3</p>
            </div>
            <div>
                <h3>Jueves</h3>
                <p>4</p>
            </div>
            <div>
                <h3>Viernes</h3>
                <p>5</p>
            </div>
            <div>
                <h3>Sabado</h3>
                <p>6</p>
            </div>
            <div>
                <h3>Domingo</h3>
                <p>7</p>
            </div>
        </div>
        <div class="center-title">
            Centro de Conciliaci贸n
            <span>GILMER</span>
        </div>
    </div>

    <footer>
        &copy; 2024 Centro de Conciliaci贸n. Todos los derechos reservados.
    </footer>

    <script src="/js/script.js"></script> <!-- Ruta ejemplo para JavaScript -->
</body>
</html>

    

