<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Conciliaci贸n Gilmer</title>
    <%- include('partials/Basicos.ejs') %>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Centro de Conciliaci贸n</h1>
            <h2>GILMER</h2>
        </header>
        <main class="main-content">
            <div class="buttons">
                <a href="/login/"><button class="btn">Iniciar Sesi贸n como Conciliador</button></a>
                <a href="/login/"><button class="btn">Iniciar Sesi贸n como Director</button></a>
            </div>
        </main>
        <footer class="footer">
            <p>Construyendo puentes para el entendimiento</p>
        </footer>
    </div>
</body>
</html>
